<% let pageTitle='Inventario' %>
    <%- include('partials/head', { styles: ['stylesInventory'], pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>

                <main>
                    <!-- Header products start -->
                    <div id="header-products">
                        <h2>Inventario de productos</h2>
                        <div id="search-products">
                            <input type="text-search" placeholder="Búsqueda rápida">
                            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                        </div>
                        <div id="button-add-product">
                            <button class="new-product">
                                + Nuevo producto
                            </button>
                        </div>
                    </div>

                    <!-- Table starts -->
                    <div class="table-row">
                        <span class="first-row"> Código </span>
                        <span class="second-row"> Producto </span>
                        <span class="third-row"> Categoría </span>
                        <span class="fourth-row"> Precio </span>
                        <span class="fifth-row"> Stock </span>
                        <span class="sixth-row"> </span>
                    </div>

                    
                    <div class="table-product"  <% locals.products && products.forEach(product => { %>>
                        <span class="product-code">
                            <%= locals.product?.code %>
                        </span>
                        <div class="product-image">
                            <img class="product" src="images\<%= locals.product?.image %>"
                                alt="Mujer mirando hacia atrás con un gorro de lana">
                            <span class="product-name">
                                <%= locals.product?.name %>
                            </span>
                        </div>
                        <select class="product-category">
                            <option value="senderism">Senderismo</option>
                            <option value="montagne">Escalada</option>
                            <option value="montagne">Trekking</option>
                            <option value="shoes">Calzados</option>
                            <option value="accessories">Accesorios</option>
                        </select>
                        <span class="product-price">
                            <%= locals.product?.price %>
                        </span>
                        <div class="counter">
                            <div class="button" id="decrease">-</div>
                            <span id="count">22</span>
                            <div class="button" id="increase">+</div>
                        </div>
                        <div class="edit-n-delete">
                            <form action="/inventory/<%= locals.product?.id %>/delete?_method=DELETE" method="POST" style="display: inline-flex;">
                                <button type="submit"><i class="fa fa-trash trash"></i></button>
                            </form>
                            <i class="fas fa-pencil-alt pencil-edit"></i>
                        </div>
                    </div>
                    <% }) %>
                    

                    <%- include('./partials/footer') %>












                </main>


        </body>


        </html>