<% let pageTitle='Ingresá a tu cuenta' %>
    <%- include('partials/head', { styles: ['stylesForm'], pageTitle: pageTitle }) %>


        <body>

            <%- include('./partials/header') %>

                <main>
                    <div>
                        <section id="sectionLogin">
                            <div id="loginBox">
                                <span id="loginTitle"><strong>Iniciá sesión</strong></span>
                                <p id="paragraphTitle">
                                    Para guardar elementos como favoritos o realizar compras
                                </p>

                                <div id="formLogin">
                                    <!-- <% if (typeof errors != 'undefined'){ %>
                                        <p style="color: red;">ERROR</p>
                                        <ul>
                                            <% for (let i = 0; i < errors.length; i++) { %>
                                               <li>
                                                <%=errors[i].msg%>
                                               </li>
                                          <%  } %>
                                        </ul>
                                 <%   } %> -->
                                    <form method="POST" action="/user/login" >
                                        <div>
                                            <label><strong>Correo Electrónico</strong></label>
                                            <input type="email" name="email" required>
                                            <label><strong>Contraseña</strong></label>
                                            <input type="password" name="password" required>
                                            
                                        </div>

                                        <% if (locals.errors?.unauthorize) { %>
                                            <div class="error">
                                                <p class="error-message">
                                                    <i class="fas fa-times-circle"></i>
                                                    <%= errors.unauthorize.msg %>
                                                </p>
                                            </div>
                                            <% } %>
                                            <div id="recordarUsuario">
                                                <label class="recordarme">Recordarme</label>
                                                <input type="checkbox" name="recordarUsuario">
                                            </div>
                                            <button type="submit">Iniciar sesión</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </main>

                <%- include('./partials/footer') %>

        </body>

        </html>