<% let pageTitle = 'Productos' %>
<%- include('partials/head', { styles: ['productDetail'], pageTitle: pageTitle }) %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <p class="step">Productos > Categoría > Producto</p>
        <article class="article-detail">
            <img src="\images\<%= product?.img %>" alt="Imagen del Producto">
         <div class="details-container">
                <div class="especs-detail">
                    <div class="title-detail" >
                        <h2><%= product?.name %></h2>
                    </div>
                    <div class="color-n-quantity">
                        <div class="colors">
                            <div class="color-one">
                            </div>
                            <div class="color-two">
                            </div>
                            <div class="color-three">
                            </div>
                        </div>
                        <div class="count-detail">
                            <p>Cantidad</p>
                            <div class="less" onclick="decrementQuantity()">
                                <p>-</p>
                            </div>
                            <div>
                                <p class="quantity" id="quantity">1</p>
                            </div>
                            <div>
                                <p class="more" onclick="incrementQuantity()">+</p>
                            </div>
                        </div>
                    </div>
                    <div class="price-n-cta">
                        <p class="price-final">$<%= product.prices.price %></p>
                        <button class="add-cart"> Añadir al carrito </button>
                        <button class="add-fav">Agregar a favoritos</button>
                    </div>
                    <div>
                        <p class="article-description">
                            <%= product.description %>                            
                        </p>
                    </div>
                    <p class="title-sizes">Talles disponibles</p>
                    <% for (let i=0 ; i < product.sizes.length ; i++) { %>
                        <p class="tec-espec-description"><%= product.sizes[i].sizes_type %></p>
                    <% } %>
                </div>
            </div>
        </article>
    </main>

    <script>
        let quantityElement = document.getElementById('quantity');

        function decrementQuantity() {
            let currentQuantity = parseInt(quantityElement.textContent);
            if (currentQuantity > 1) {
                currentQuantity--;
                quantityElement.textContent = currentQuantity;
            }
        }

        function incrementQuantity() {
            let currentQuantity = parseInt(quantityElement.textContent);
            currentQuantity++;
            quantityElement.textContent = currentQuantity;
        }
    </script>


    <%- include('./partials/footer') %>

</body>
</html>