<% let pageTitle='Product edit form' %>
    <%- include('partials/head', { styles: ['stylesInventory'], pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>
                <main class="form-edit-create">
                    <div class="product-edit">
                        <div class="edit-img">
                            <img class="img-edit-product" src="/images/<%= product.img %>">
                            <button class="edit-image-button">
                                Editar imágenes
                            </button>
                        </div>
                        <form class="product-edit-form" action="/inventory/<%= product.id %>/edit?_method=PUT"
                            method="post">
                            <h2 id="edit-product-title">Editar producto</h2>
                            <div class="label-product">
                                <label for="product">Producto</label>
                                <input type="text" class="product-imput" name="name" id="name"
                                    placeholder="Nombre del producto" required value="<%= product.name %>">
                            </div>

                            <div class="label-product">
                                <label for="description">Descripción</label>
                                <input type="text" class="product-imput" name="description"
                                    placeholder="Descripción del producto" required value="<%= product.description %>">
                            </div>

                            <div class="label-product-price">
                                <label for="price">Precio</label>
                                <input type="text" class="product-imput-price" name="price" id="price"
                                    placeholder="Precio del producto" required value="<%= product.price %>">
                            </div>

                            <div class="label-product-price">
                                <label for="discount">Descuento</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15"
                                    class="product-imput-price" >
                            </div>

                            <div class="size-options">
                                <label for="size">Talles disponibles</label>
                                <% allSizes.forEach((size) => { %>
                                    <label>
                                        <input type="checkbox" name="sizes" value="<%= size.sizes_type %>">
                                        <%= size.sizes_type %>
                                    </label>
                                <% }); %>
                            </div>

                            <div class="color-options">
                                <label for="color">Colores disponibles</label>
                                <% allColors.forEach((color) => { %>
                                    <label>
                                        <input type="checkbox" name="colors" value="<%= color.color_name %>">
                                        <%= color.color_name %>
                                    </label>
                                <% }); %>
                            </div>

                            <div class="counter-edit-product">
                                <span id="stock">Stock</span>
                                <div class="button" id="decrease">-</div>
                                <span id="count">24</span>
                                <div class="button" id="increase">+</div>
                            </div>

                            <div class="product-category">
                                <span id="category">Categoría</span>
                                <select class="product-category-detail" id="category">
                                    <option value="<%= product.category.id %>" selected>
                                        <%= product.category.description %>
                                    </option>
                                    <% categories.forEach(category => { %>
                                        <% if (category.id !== product.category.id) { %>
                                            <option value="<%= category.id %>">
                                                <%= category.description %>
                                            </option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="button-submit">
                                <input type="submit" class="button-submit" value="Guardar cambios">
                            </div>
                        </form>
                    </div>
                </main>
                <%- include('./partials/footer') %>
        </body>

        </html>