<% let pageTitle = 'Productos' %>
<%- include('partials/head', { styles: ['productDetail'], pageTitle: pageTitle }) %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <p class="step">Productos > Categoría > Producto</p>
        <article class="article-detail">
            <img src="\images\<%= product?.img %>" alt="Imagen del Producto">
         <div class="details-container">
                <div class="especs-detail">
                    <div class="title-detail" >
                        <h2><%= product?.name %></h2>
                    </div>
                    <div class="color-n-quantity">
                        <div class="colors">
                            <div class="color-one">
                            </div>
                            <div class="color-two">
                            </div>
                            <div class="color-three">
                            </div>
                        </div>
                        <div class="count-detail">
                            <p>Cantidad</p>
                            <div class="less">
                                <p>-</p>
                            </div>
                            <div>
                                <p class="quantity">1</p>
                            </div>
                            <div>
                                <p class="more">+</p>
                            </div>
                        </div>
                    </div>
                    <div class="price-n-cta">
                        <p class="price-final">$<%= product?.price %></p>
                        <button class="add-cart"> Añadir al carrito </button>
                        <button class="add-fav">Agregar a favoritos</button>
                    </div>
                    <div>

                        <p class="article-description">
                            <%= product?.description %>                            
                        </p>
                    </div>
                    <div class="text-detail">
                    <span class="tec-espec">Especificaciones técnicas</span>
                    <span class="personalize">Personalizar</span>
                    </div>
                    <p class="tec-espec-description"><%= product?.size %></p>
                    <p class="tec-espec-description"><%= product?.description %></p>
                </div>
            </div>
        </article>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>