<% let pageTitle='Productos' %>
    <%- include('partials/head', { styles: ['products'], pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>
                <main>
                    <% products.forEach(product=> { %>
                        <a href="/products/productDetail/<%=product.id %>" class="product-link">
                            <article>
                                <div class="img-product">
                                    <img src="/images/<%= product.img %>" class="img-product-products"
                                        alt="Imagen del Producto">
                                    <div class="img-hover">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="product-detail">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <p class="price">$<%= product.price.price %></p>
                                </div>
                            </article>
                        </a>
                        <% }) %>
                </main>

                <%- include('./partials/footer') %>
        </body>

        </html>