<% let pageTitle='Productos' %>
    <%- include('partials/head', { styles: ['products'], pageTitle: pageTitle }) %>

        <body>

            <%- include('./partials/header') %>

                <main>
                    <% locals.Senderismo && Senderismo.forEach(product => { %>
                    <article>
                        <a href="/products/<%= product.id %>"></a>
                        <div class="img-product">
                            <img src="/images/<%= product.image %>" class="img-product-products" alt="Imagen del Producto">
                            <div class="img-hover">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </article>
                    <% }) %>
                    <% locals.Escalada && Escalada.forEach(product => { %>
                    <article>
                        <a href="/products/<%= product.id %>"></a>
                        <div class="img-product">
                            <img src="/images/<%= product.image %>" class="img-product-products" alt="Imagen del Producto">
                            <div class="img-hover">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </article>
                    <% }) %>
                    <% locals.Accesorios && Accesorios.forEach(product => { %>
                    <article>
                        <a href="/products/<%= product.id %>"></a>
                        <div class="img-product">
                            <img src="/images/<%= product.image %>" class="img-product-products" alt="Imagen del Producto">
                            <div class="img-hover">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </article>
                    <% }) %>
                    <% locals.Calzados && Calzados.forEach(product => { %>
                    <article>
                        <a href="/products/<%= product.id %>"></a>
                        <div class="img-product">
                            <img src="/images/<%= product.image %>" class="img-product-products" alt="Imagen del Producto">
                            <div class="img-hover">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </article>
                    <% }) %>
                </main>

                <%- include('./partials/footer') %>

        </body>

        </html>