<% let pageTitle = 'Productos' %>
<%- include('partials/head', { styles: ['productDetail'], pageTitle: pageTitle }) %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <p class="step">Productos > Camping > Mochila Cap</p>
        <article class="article-detail">
            <div class="img-container">
                <img src="\images\<%= locals.product?.image %>" alt="Mochila Peak">
            </div>
            <div class="details-container">
                <div class="title-detail" >
                    <h2><%= locals.product?.name %></h2>
                </div>
                <div class="especs-detail">
                    <div class="color-n-quantity">
                        <div class="colors">
                            <div class="color-green">
                            </div>
                            <div class="color-yellow">
                            </div>
                        </div>
                        <div class="count-detail">
                            <p>Cantidad</p>
                            <div class="less">
                                <p>-</p>
                            </div>
                            <div>
                                <p class="quantity">1</p>
                            </div>
                            <div>
                                <p class="more">+</p>
                            </div>
                        </div>
                    </div>
                    <div class="price-n-cta">
                        <p class="price-final"><%= locals.product?.price %></p>
                        <button class="add-cart"> Añadir al carrito </button>
                        <button class="add-fav">Agregar a favoritos</button>
                    </div>
                    <div>
                        <div class="off">
                            <i class="fa-solid fa-credit-card" style="color: #7ec989;"></i>
                            <p>3 y 6 cuotas sin interés con VISA o MASTERCARD</p>
                        </div>
                        <p class="article-description">
                            <%= locals.product?.description %>                            
                        </p>
                    </div>
                    <div class="text-detail">
                    <span class="tec-espec">Especificaciones técnicas</span>
                    <span class="personalize">Personalizar</span>
                    </div>
                    <p class="tec-espec-description"><%= locals.product?.technical %></p>
                </div>
            </div>
        </article>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>