<% let pageTitle='Product create form' %>
    <%- include('partials/head', { styles: ['stylesInventory'], pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>
                <main class="form-edit-create">
                    <div class="product-edit">
                        <form id="product-form" class="product-edit-form" action="/inventory/create" method="post"
                            enctype="multipart/form-data">

                            <h2 id="edit-product-title">Crear producto</h2>
                            <div class="errors">
                                <ul> </ul>
                            </div>
                            <div class="label-product">
                                <label for="name">Producto</label>
                                <input type="text" class="product-input" name="name" id="name"
                                    placeholder="Nombre del producto"
                                    value="<%= (locals.oldData && locals.oldData.name) ? locals.oldData.name : '' %>">
                                <% if (locals.errors && errors.name) { %>
                                    <span id="name-error" class="error-message">
                                        <%= errors.name.msg %>
                                    </span>
                                    <% } %>
                            </div>


                            <div class="edit-img">

                                <input id="image" type="file" accept=".jpg, .jpeg, .png, .gif" class="product-imput"
                                    name="image">
                            </div>

                            <div class="label-product">
                                <label for="description">Descripción</label>
                                <input type="text" class="product-input" name="description" id="description"
                                    placeholder="Descripción del producto"
                                    value="<%= (locals.oldData && locals.oldData.description) ? locals.oldData.description : '' %>">
                                <% if (locals.errors && locals.errors.description) { %>
                                    <span id="description-error" class="error-message">
                                        <%= locals.errors.description.msg %>
                                    </span>
                                    <% } %>
                            </div>


                            <div class="label-product-price">
                                <label for="price">Precio</label>
                                <input type="text" class="product-imput-price" name="price" id="price"
                                    placeholder="Precio del producto"
                                    value="<%= (locals.oldData && locals.oldData.price) ? locals.oldData.price : '' %>">
                                <% if (locals.errors && locals.errors.price) { %>
                                    <span id="price-error" class="error-message">
                                        <%= locals.errors.price.msg %>
                                    </span>
                                    <% } %>
                            </div>

                            <div class="label-product-price">
                                <label for="discount">Descuento</label>
                                <input type="text" id="discount" name="discount" placeholder="Ej: 15"
                                    value="<%= (locals.oldData && locals.oldData.discount) ? locals.oldData.discount : '' %>"
                                    class="product-imput-price">
                                <% if (locals.errors && locals.errors.discount) { %>
                                    <span id="discount-error" class="error-message">
                                        <%= locals.errors.discount.msg %>
                                    </span>
                                    <% } %>
                            </div>

                            <div class="size-options">
                                <label for="size">Talles disponibles</label>
                                <label>
                                    <input type="checkbox" name="sizes" value="1" id="sizes" <% if (locals.oldData &&
                                        locals.oldData.sizes && locals.oldData.sizes.includes('1')) { %> checked <% } %>
                                        > XL
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" value="2" id="sizes" <% if (locals.oldData &&
                                        locals.oldData.sizes && locals.oldData.sizes.includes('2')) { %> checked <% } %>
                                        > L
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" value="3" id="sizes" <% if (locals.oldData &&
                                        locals.oldData.sizes && locals.oldData.sizes.includes('3')) { %> checked <% } %>
                                        > M
                                </label>
                                <label>
                                    <input type="checkbox" name="sizes" value="4" id="sizes" <% if (locals.oldData &&
                                        locals.oldData.sizes && locals.oldData.sizes.includes('4')) { %> checked <% } %>
                                        > S
                                </label>
                                <% if (locals.errors && errors.sizes) { %>
                                    <span class="error-message">
                                        <%= errors.sizes.msg %>
                                    </span>
                                    <% } %>
                            </div>

                            <div class="color-options">
                                <label for="color-options">Colores disponibles</label>
                                <label>
                                    <input type="checkbox" name="colors" value="white" id="colors" <% if (locals.oldData
                                        && locals.oldData.colors && locals.oldData.colors.includes('white')) { %>
                                    checked <% } %>> Blanca
                                </label>
                                <label>
                                    <input type="checkbox" name="colors" value="yellow" id="colors" <% if
                                        (locals.oldData && locals.oldData.colors &&
                                        locals.oldData.colors.includes('yellow')) { %> checked <% } %>> Amarilla
                                </label>
                                <label>
                                    <input type="checkbox" name="colors" value="black" id="colors" <% if (locals.oldData
                                        && locals.oldData.colors && locals.oldData.colors.includes('black')) { %>
                                    checked <% } %>> Negra
                                </label>
                                <% if (locals.errors && errors.colors) { %>
                                    <span class="error-message">
                                        <%= errors.colors.msg %>
                                    </span>
                                    <% } %>
                            </div>

                            <div class="counter-edit-product">
                                <span id="stock">Stock</span>
                                <div class="button" id="decrease">-</div>
                                <span id="count">24</span>
                                <div class="button" id="increase">+</div>
                            </div>

                            <div class="product-category">
                                <span id="category">Categoría</span>
                                <select id="category" name="category" class="product-category-detail">
                                    <option value="">Selecciona una categoría</option>
                                    <option value="1" <% if (locals.oldData && locals.oldData.category==='1' ) { %>
                                        selected <% } %>>Escalada</option>
                                    <option value="3" <% if (locals.oldData && locals.oldData.category==='3' ) { %>
                                        selected <% } %>>Accesorios</option>
                                    <option value="2" <% if (locals.oldData && locals.oldData.category==='2' ) { %>
                                        selected <% } %>>Senderismo</option>
                                    <option value="4" <% if (locals.oldData && locals.oldData.category==='4' ) { %>
                                        selected <% } %>>Calzados</option>
                                </select>
                                <% if (locals.errors && errors.category) { %>
                                    <span class="error-message" id="category-error">
                                        <%= errors.category.msg %>
                                    </span>
                                    <% } %>
                            </div>
                            <div class="button-submit">
                                <input type="submit" class="button-submit" value="Añadir producto">
                            </div>
                        </form>
                    </div>
                </main>
                <%- include('./partials/footer') %>
                    <script src="/js/validation.js"></script>
        </body>

        </html>