<% let pageTitle='Perfil de usuario' %>
    <%- include('partials/head', { pageTitle: pageTitle }) %>

        <body>
            <%- include('./partials/header') %>
                <main>

                    <body>
                        <%- include('partials/header') %>
                            <div class="profile">
                                <p>Nombre: <%= user.first_name %>
                                </p>
                                <p>Email: <%= user.email %>
                                </p>
                                <p>Rol: <%= user.roles?.description %>
                                </p>
                            </div>
                            <div class="button-edit">
                                <a href="/user/<%= user.id %>/edit">
                                    <button>Editar</button>
                                </a>
                            </div>
                    </body>
                </main>
                <%- include('./partials/footer') %>
        </body>

        </html>