<% let pageTitle='Registrate' %>
    <%- include('partials/head', { styles: ['stylesForm'], pageTitle: pageTitle }) %>

        <body>

            <%- include('./partials/header') %>

                <main>
                    <div>
                        <section id="sectionRegister">
                            <img src="\images/bg-signup.jpg" alt="Hombre mirando al horizonte" id="register-image">
                            <div id="registerBox">
                                <span id="registerTitle"><strong>Crear Cuenta</strong></span>
                                <p id="paragraphRegister">
                                    Comenzá a vivir la aventura de llegar a la cima
                                </p>
                                <div id="formLogin">
                                    <form method="POST" action="/user/register" enctype="multipart/form-data">

                                        <div>
                                            <label for="firstName">Nombre</label>
                                            <input type="text" name="firstName" id="firstName"
                                                value="<%= (locals.oldData && oldData.firstName) && oldData.firstName %>">
                                                <div id="nameError" style="display: none; color: red;"></div>
                                            <% if (locals.errors && errors.firstName) { %>
                                                <span class="error-message">
                                                    <%= errors.firstName.msg %>
                                                </span>
                                                <% } %>
                                        </div>

                                        <div>
                                            <label for="lastName">Apellido</label>
                                            <input type="text" name="lastName" id="lastName"
                                                value="<%= (locals.oldData && oldData.lastName) && oldData.lastName %>">
                                                <div id="lastNameError" style="display: none; color: red;"></div>
                                            <% if (locals.errors && errors.lastName) { %>
                                                <span class="error-message">
                                                    <%= errors.lastName.msg %>
                                                </span>
                                                <% } %>
                                        </div>

                                        <div>
                                            <label for="emailRegister">Correo Electrónico</label>
                                            <input type="email" name="email" id="emailRegister"
                                                value="<%= (locals.oldData && oldData.email) && oldData.email %>">
                                                <div id="emailError" style="display: none; color: red;"></div>
                                            <% if (locals.errors && errors.email) { %>
                                                <span class="error-message">
                                                    <%= errors.email.msg %>
                                                </span>
                                                <% } %>
                                        </div>

                                        <div class="password-input-container">
                                            <label for="passwordFieldRegister">Contraseña</label>
                                            <input type="password" name="password" id="passwordFieldRegister"
                                                value="<%= (locals.oldData && oldData.password) && oldData.password %>">
                                                <div id="passwordError" style="display: none; color: red;"></div>
                                            <% if (locals.errors && errors.password) { %>
                                                <span class="error-message">
                                                    <%= errors.password.msg %>
                                                </span>
                                            <% } %>
                                            <!-- Move the eye icon to this div -->
                                            <i class="fas fa-eye-slash" id="togglePassword" onclick="togglePasswordVisibility()"></i>
                                        </div>
                                        
                                        <!-- Repeat the same structure for the confirmPassword field -->
                                        <div class="password-input-container-register">
                                            <label for="confirmPasswordField">Repetir contraseña:</label>
                                            <input type="password" name="confirmPassword" id="confirmPasswordField"
                                                value="<%= (locals.oldData && oldData.password) && oldData.confirmPassword %>">
                                                <div id="confirmPasswordError" style="display: none; color: red;"></div>
                                            <% if (locals.errors && errors.confirmPassword) { %>
                                                <span class="error-message">
                                                    <%= errors.confirmPassword.msg %>
                                                </span>
                                            <% } %>
                                            <i class="fas fa-eye-slash" id="toggleConfirmPassword" onclick="togglePasswordVisibility()"></i>
                                        </div>

                                        <div>

                                            <input type="file" id="image" accept=".jpg, .jpeg, .png, .gif" class="image-imput"
                                                name="img">
                                        </div>
                                        <button type="submit">Registrarse</button>

                                        <span id="register-message">¿Ya tenes cuenta? <a href="/user/login">INICIA
                                                SESIÓN</a></span>
                                    </form>

                                </div>

                        </section>

                    </div>

                </main>

                <script>
                    var passwordVisible = false;

                    function togglePasswordVisibility() {
                        var passwordField = document.getElementById("passwordFieldRegister");
                        var confirmPasswordField = document.getElementById("confirmPasswordField");
                        var toggleIcon = document.getElementById("togglePassword");

                        if (passwordVisible) {
                            passwordField.type = "password";
                            confirmPasswordField.type = "password";
                            toggleIcon.classList.remove("fa-eye");
                            toggleIcon.classList.add("fa-eye-slash");
                        } else {
                            passwordField.type = "text";
                            confirmPasswordField.type = "text";
                            toggleIcon.classList.remove("fa-eye-slash");
                            toggleIcon.classList.add("fa-eye");
                        }

                        passwordVisible = !passwordVisible;
                    }
                </script>

                <%- include('./partials/footer') %>

        </body>

        <script src="/js/registerValidations.js"></script>

        </html>