<% let pageTitle='User edit form' %>
    <%- include('partials/head', { styles: ['stylesForm'], pageTitle: pageTitle }) %>

    <body>

        <%- include('./partials/header') %>

            <main>
                <div>
                    <section id="sectionRegister">
                        <img src="\images/bg-signup.jpg" alt="Hombre mirando al horizonte" id="register-image">
                            <div id="formLogin">
                                <form method="POST" action="/user/<%= userToEdit.id %>/edit?_method=PUT" enctype="multipart/form-data">
                                    <div>
                                        <label>Nombre</label>
                                        <input type="text" name="firstName" value="<%= userToedit.firstName %>">
                                    </div>

                                    <div>
                                        <label>Apellido</label>
                                        <input type="text" name="lastName" value="<%= userToEdit.lastName %>">
                                    </div>

                                    <div>
                                        <label>Correo Electrónico</label>
                                        <input type="email" name="email" value="<%= userToEdit.email %>">
                                    </div>

                                    <div>
                                        <label>Contraseña</label>
                                        <input type="password" name="password">
                                        <% if (locals.errors && errors.password) { %>
                                            <span class="error-message">
                                                <%= errors.password.msg %>
                                            </span>
                                            <% } %>
                                    </div>
                                    <button type="submit">Guardar cambios</button>
                                </form>
                            </div>
                    </section>
                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>